<div>
  <p>
    After participating in a Summer School in Artificial Intelligence and Entrepreneurship in 2019 (AI4Health),
    I understood the urgent need to create an environment of digital maturity for innovation in
    healthcare. This experience made me realize how deficient our education can be on the topic.
    Additionally, this added transversal vision enhanced the possibility of integrating my academic
    knowledge and practical field work in Public Health and Health Data Science with intra and
    entrepreneurial skills. Associating academic knowledge with practical experience encouraged
    me even more towards enhancing the strength and quality of scientific evidence for health
    outcomes and research. In fact, I believe learning to monetize academic resources and
    knowledge in viable market ideas will have huge benefits in how population´s true issues and
    demands are addressed. 
  </p>
</div>

<div>
  <p>
  After this summer school I joined the <em>EIT Health Alumni Network</em>. At this time I was invited to
  be a local representative in Oporto, Portugal. Being part of this community instilled a sense of
  curiosity and purpose in re-shaping the healthcare system. EIT Health Alumni Community is
  about networking, brimming with ideas, enthusiasm and nervous excitement that keeps inspiring
  and challenging me to be at my very best in personal and professional life. The amazing and
  inspiring people I´ve met in this community reinforces everything I knew about teamwork and
  the importance of each and every person in a group.
</p>
<ul>
<em>Some of the projects I was involved are:</em>
  <li> <em>(i)</em> Management of live networking email lists, organization of events, minutes drafting, 
    administrative support and other ad-hoc organizational and programmatic work.</li>
  <li><em>(ii)</em>  Leader organization in international events – “Walk2walk”, “Reverse Pitch”, “Rise Up”</li>
  <li><em>(iii)</em>  Facilitator and Speaker at Innovation Days in Oporto, Porto and in Paris, France</li>
  </p>
</ul>
</div>