<div>
  <p>
    The <em> European Monitoring Centre for Drugs and Drug Addiction (EMCDDA)</em> 
    is the reference point on drugs and drug addiction information in Europe.
    I had the cance to do a 8 months trainship at the ICT Unit.
  </p>
  <p>
    I was initially assigned to work with the <em>head of sector ICT Service Delivery</em>, 
    complementing her role as Project Manager for the ECID project, 
    an important pluri-annual EMCDDA project fostering digital innovation in the areas of collaboration, 
    document and records management.
  </p>
  <p>
    Soon it became apparent that besides the initial assignment, I was curious to take on other challenges.
    Thus, I conducted an ICT self-assessment regarding the cybersecurity maturity and preparedeness of the 
    organization using the NIST reference framework and COBIT 19.
  </p>
  <p>
    On another area of interest, business intelligence metrics, 
    I was active in presenting new insights on existing unexplored data sources, 
    using <tag>BI tools (MS Power BI)</tag>.
  </p>
</div>