<div>
  <p>
    The <em>European Monitoring Centre for Drugs and Drug Addiction (EMCDDA)</em>
    is the reference point on drugs and drug addiction information in Europe.
    Here, I had the chance to do a 8 months trainship at the ICT Unit.
  </p>
</div>

<div>
  <p>
    I was initially assigned to work with the <em>head of sector ICT Service Delivery</em>,
    complementing her role as Project Manager for the ECID project,
    an important pluri-annual EMCDDA project fostering digital innovation in the areas of collaboration,
    document and records management.
  </p>
  <p>
    Soon it became apparent that besides the initial assignment, I was curious to take on other challenges.
    Thus, I conducted an ICT self-assessment regarding the cybersecurity maturity and preparedeness of the
    organization using the NIST reference framework and COBIT 19.
  </p>
  <p>
    Latter on, I was aldo involved in the Data Foundation Project and on business intelligence metrics,
    where I was active in presenting new insights on existing unexplored data sources,
    using <tag>BI tools (MS Power BI)</tag>, data arquitechire designs and concerns on its developments.
  </p>
</div>