<div>
  <p>
    At the beginning of my residency in <em>Public Health</em> I started taking some online
    degrees to expand my knowledge on statistics, programming in R, python and data
    science, and this was when I felt the most satisfied in a long time. In fact, I realized the
    importance of quality information in clinical practice, the power it has, and thus, I can
    have by mastering these skills.
  </p>
</div>

<div>
  <p style="margin-bottom: 0;">
    Latter on, in 2019, I started a PhD in Health Data Science <i>(Specialty: Health Intelligent Data)</i> at the
    Faculty of Medicine of the University of Porto (Porto, Portugal). My project is mostly
    a cluster analysis entitled <i>“How can multimorbidity impact on hospitalizations clinical and economic outcomes? 
      A case study on asthma”</i>. My project was also part of the <tag>EIT Health PhD Label</tag> – Ageing at EIT PhD School 2020 
      <i>(sponsored by European Innovation and Technology)</i>
  </p>

  <p style="margin-top: 0;">
    <ul>
    During this time I was envolved as a <em>Visiting Lecturer and Research collaboration</em>
     at the Faculty of Medicine of the University of Porto (Porto, Portugal). 
     Some of my collaboration was in the following:
     <li><em>(i)</em> Introduction to Medical Informatics to PhD Program in Health Data Science (2021-)</li>
     <li><em>(ii)</em> Health Services research to 1st year students of the Integrated Master’s Degree in Medicine (2020)</li>
     <li><em>(iii)</em> Population Health (Clinical Epidemiology, Predictive Medicine and Public Health Department) 
    to 1st year students of the Integrated Master’s Degree in Medicine (2019)</li>
    <li><em>(iv)</em> Reviewer at International Journal of Data Science and Analytics</li>
  </ul>
</p>
  <p style="margin-top: 0;">
    <ul> Some other post-graduation courses I did were the following:
       <li><em>(i)Executive Couse in Project Management (2022)</em> 
        Católica Porto Business School, University of Porto (Porto, Portugal)</li>

       <li><em>(ii)Post-graduation in Information technology Management (2021)</em> 
        Porto Business School, University of Porto (Porto, Portugal)</li>

       <li><em>(iii)Post-graduation in Travel Medicine (2019)</em> 
        Faculty of Medicine of the University of Porto (Porto, Portugal)</li>
      
        <li><em>(iv)Short courses Programs</em> 
        <ul>
          <li><em> Python and Machine Learning Summer School (2021) </em>- Católica Porto Business School (Porto, Portugal)</li>
          <li><em>Leading Digital Transformation at MIT (Online, 2020)</em> – sponsored by Santander Becas scholarship</li>
          <li><em>H-Impact Program at Ghent University (Belgium, September 2019</em> – December 2019)</li>
          <li><em>Artificial Intelligence for Healthcare</em> - EIT Health Summer School at BioHealth Computing Schools (Archamps, France, July 2019)</li>
        </ul>
        </li>
    </ul>
  </p>
</div>