<div>
  <p>
    Firefox 3.5 Mac OS theme was during several months, in the <em>top 5</em> most used Firefox themes in the world,
    with almost <em>2M downloads</em>, and <em>150k daily users</em>. At this time, I didn't know how to code,
    so this theme was created, once again, mostly trial error.
  </p>
  <p style="margin-bottom: 0;">
    I started to create the theme for myself because I liked customization, I was used to create themes
    for my Nokia phones <i>(I used paint to draw the images btw)</i>.
  </p>
</div>
<div>
  <p style="margin-top: 0;">
    One day I decided to publish the theme,
    and boom, people started to use it, a lot, I even had a chinese person asking me to create special
    version of the theme with bigger font size due to the chinese characters.
  </p>
</div>

PhD + IT Management + OTHER SHORT CURSES

PhD Candidate in Health Data Science – Specialty: Health Intelligent Data (2019-)
Faculty of Medicine of the University of Porto (Porto, Portugal)
A cluster analysis entitled “How can multimorbidity impact on hospitalizations clinical and economic outcomes? A case study on asthma”
EIT Health PhD Label – Ageing at EIT PhD School 2020 (sponsored by European Innovation and Technology)

Visiting Lecturer and Research collaboration (2019-)
Faculty of Medicine of the University of Porto (Porto, Portugal)
(i) Introduction to Medical Informatics to PhD Program in Health Data Science (2021-)
(ii) Health Services research to 1st year students of the Integrated Master’s Degree in Medicine (2020)
(iii) Population Health (Clinical Epidemiology, Predictive Medicine and Public Health Department) 
to 1st year students of the Integrated Master’s Degree in Medicine (2019)
(iv) Reviewer at International Journal of Data Science and Analytics

Post-graduation in Information technology Management (2021)
Porto Business School, University of Porto (Porto, Portugal)
Post-graduation in Travel Medicine (2019)
Faculty of Medicine of the University of Porto (Porto, Portugal)
Short courses Programs
- Python and Machine Learning Summer School (2021)- Católica Porto Business School (Porto, Portugal)
- Leading Digital Transformation at MIT (Online, 2020) – sponsored by Santander Becas scholarship
- H-Impact Program at Ghent University (Belgium, September 2019 – December 2019)
- Artificial Intelligence for Healthcare - EIT Health Summer School at BioHealth Computing Schools (Archamps, France, July 2019)

Project Management Catolica