<div>
  <p>
   In 2020, I participated at the first virtual <em>European Health Forum Gastein Hackathon</em>. My team
   and I were awarded the Prize and Jury Award for our idea <i>(worth 25k!)</i>. Participating in these
   kinds of events puts our skills to the test. Very quickly, we were committed to each other. 
  </p>
</div>

<div>
  <p>
    In the
    span of just 40 hours, in our team we developed a sense of shared vision, trust and teamwork that
    helped us tackle the biggest challenges as we took our idea to the next steps to make it a reality.
  </p>

  <p>
    <tag>Aidemy</tag> was born from this journey. I believe that a focus on simplicity and 
    a little plot twist made our idea credible. We understood that in crisis, many face difficulties in admitting they
    are mentally struggling, often due to stigma. But our <i>mental health</i> is a collective good, and a social
    responsibility. Our app aimed to train everyday people to become mental health first responders, who are
    able to recognise warning signs of mental health disorders and provide emergency help for them. 
  </p>
  
  <p>
    It was a very grateful experience and all other team’s participants, the EHFG team, EIT Health, Mentors, and Judges
     made this hackathon an unforgettable and life changing experience from all points of view!
  </p>
</div>