<div>
  <p>
   In 2020, I participated at the first virtual European Health Forum Gastein Hackathon. My team
   and I were awarded the Prize and Jury Award for our idea (worth 25k!). Participating in these
   kinds of events puts our skills to the test.Very quickly, we were committed to each other. 
   Next, we had to commit to one idea, develop and present it in the next 40 hours.
  </p>
  <p>
    Aidemy was born from this journey. We believed thata focus on simplicity and 
    a little plot twist made our idea credible.
    We understand that in crisis, many face difficulties in admitting they
    are mentally struggling, often due to stigma. But our mental health is a collective good, and a social
    responsibility. Our app aims to train everyday people to become mental health first responders, who are
    able to recognise warning signs of mental health disorders and provide emergency help for them.
    We are very grateful to the other team’s participants, the EHFG team, EIT Health, Mentors, and Judges
    who made this hackathon an unforgettable and life changing experience from all points of view. In the
    span of just 40 hours, in our team we developed a sense of shared vision, trust and teamwork that will
    help us tackle the biggest challenges ahead as we take the next steps to make Aidemy a reality.
  </p>
</div>