<div>
  <p>
   <em>Transforming healthcare one hope at a time.</em>
    Hope Care was the first Portuguese Digital Health Services company to combine cutting-edge products and platforms, 
    which allow the provision of technological services in Social Care and Health without barriers.
  </p>
</div>

<div>
  <p>
   I met the Team during an event of <tag>Microsoft Innovation</tag> in <em>Paris.</em> 
   And we just started brimming with ideas right away!
  </p>

  <p>
    Some of the projects I was involved were regarding data analytics, 
    clinical and medical device regulamentation.
  </p>
</div>