<div>
  <p>
  I did my <em>Integrated Master´s in Medicine</em> at the <em>Instituto de Ciências Biomédicas Abel Salazar</em>
  , University of Porto (Porto, Portugal), wich I completed with an average of 15/20.
  </p>
</div>
<div>
  <p>
   My Master thesis was in Public Health field, using <i>SHARE PROJECT database (WAVE 4)</i> and 
   SPSS for research - entitled "Grip Strength and Cardiovascular Risk Factors in 
   older adults across Europe” – Grade 19/20
  </p>
  <p>During my degree, I managed to work abroad and have some summer experiences!</p>
  <p> International Mobility programmes:</p>
</div>
<div>
  <ul>
    <li><em>ERASMUS programme in University of Bordeaux</em> - France (3 months, 2016)</li>
    <li><em> ERASMUS programme in 1st Charles University of Prague </em> - Czech Republic (3 months, 2015)</li>
    <li><em>FREE MOVER programme in University Vale Itajaí </em> - Brasil (12 months, 2014)</li>
  </ul>
  <p>Summer internships with International Federation of Medical Students Association (IFMSA):</p>
  <ul>
    <li>July 2016: Internship Lausanne (Switzerland) - Clinical Internship in Rehabilitation</li>
    <li>July 2013: Internship Vitória (Brasil) - Clinical internship in Dermatology</li>
    <li>August 2012: Internship Tunis (Tunisia) - Research in Pharmacovigilance</li>
  </ul>
</div>