<div>
  <p>
    Latter 2022, I was accepted to do an intership at the
    <em>Organisation for Economic Cooperation and Development (OECD)</em> in Paris (France).
    This experience took me to the Health Division on an international organization for Health-related policy making.
  </p>
</div>

<div>
  <p>
    I was involved in different projects of the Public Health Team, covering the non-communicable diseases (NCD) area where I was involved in the evaluation of the burden of cancer.
    Furthermore, I was involved in a project that extended the capabilities of the OECD SPHeP model to embed additional risk factors for cancer, including diet/nutrition intake and air pollution.
    To this end, I supportted the modellers team, by providing statistical support with data management and analysis related to air pollution.
  </p>
</div>