<div>
  <p>
    Latter 2022, I was accepted to do an intership at the
    <em>Organisation for Economic Cooperation and Development (OECD)</em> in Paris (France).
    This experience took me to the Health Division on an international organization for Health-related policy making.
  </p>
</div>

<div>
  <p>
    I was involved in different projects of the Public Health Team, covering the non-communicable diseases (NCD) area,
    nutrition and obesity. This experience was guaranteed to delight me as I've always had
    a special interest for these areas of public health.
  </p>
</div>