<div>
  <p>
    I' ve always been interested and thrilled about research and how can I beable to improve my knowledge. 
    My contribution to scientific community is still starting, but some of my works are listed below. 
    You can also always check my ORCID <tag>https://orcid.org/0000-0001-7913-7461</tag>
  </p>
</div>

<div>
<ul>
  <em>Some my scientific papers:</em>
    <li> <em>Scientific paper published in the International Journal of Environmental Research and Public Health</em> 
      Portela D, Almada M, Midão L, Costa E. Instrumental Activities of Daily Living (iADL) Limitations in Europe: 
      An Assessment of SHARE Data. Int J Environ Res Public Health. 2020 Oct 10;17(20):7387. 
      <tag> doi: 10.3390/ijerph17207387</tag>. PMID: 33050460; PMCID: PMC7599802.
    </li>

    <li><em>Scientific abstract published in the European Journal of Public Health</em>  
      D Portela, V Cruz, H Monteiro, F Tavares, Cervical cancer screening information flow in Northern regional administrative 
      service in Portugal, European Journal of Public Health, Volume 30, Issue Supplement_5, September 2020, 
      ckaa166.005, <tag>https://doi.org/10.1093/eurpub/ckaa166.005</tag></li>

      <li><em>G Monteiro, S B Travassos, J M Carvalho, R Marques, D Fernandes, D Portela - 
        COVID-19 predictability in Portugal using Google Trends, <tag>https://doi.org/10.1093/eurpub/ckab165.010</tag></li>

    <li><em>Scientific paper published in the The Journal of Frailty & Aging</em>
      Almada, M., Brochado, P., Portela, D. et al. Prevalence of Fall and 
      Associated Factors Among Community Dwelling European Older Adults: A Cross-Sectional Study. J Frailty Aging (2020).
      <tag>https://doi.org/10.14283/jfa.2020.44</tag></li>
      
    <li><em>Scientific paper in National Scientific Magazine (Acta Médica Portuguesa)</em>
      Marta Almada, Luís Midão, Diana Portela, Inês Dias, Francisco J. Núñez-Benjumea, Carlos L. Parra-Calderón, Elísio Costa
      “Um novo paradigma em investigação em saúde: dados FAIR (localizáveis, acessíveis, interoperacionais, reutilizáveis)”
      <tag>https://doi.org/10.20344/amp.12910</tag></li>
    </p>
  </ul>
</div>

<div>
  <ul>
    <em> Poster presentation in multiple International and Nacional Conferences</em>
      <li> <em>4 international Posters presented in:</em> 
      <it>WPHC2020:</it> D Portela, V Cruz, H Monteiro, F Tavares - Cervical cancer screening information flow in Northern regional
        administrative service in Portugal;
        <it>OSFair2019:</it> <em>(1)</em> Marta Almada, Diana Portela, Luis Midao, Sinaci, Núñez-Benjumea, Parra-Calderón and Elisio Costa - 
        User scenarios to promote the use of FAIR data on health research;
        <em>(2)</em> Marta Almada, Luís Midão, Diana Portela and Elísio Costa - The Survey of Health, Ageing and Retirement in Europe: 
        experience of a single group using this open access database;
        <it>ESPCOMP2019:</it> Marta Almada, Diana Portela, Marina Maffoni, Anna Giardini, Przemyslaw Kardas, Luís Midão, Elísio Costa - 
        Limitations of basic and instrumental activities of daily living among Polymedicated older adults in Europe: a cross sectional study
      </li>
  
      <li><em>6 posters presented in National Conferences</em>  
        <it>Published at the Public Health residente Meetings, Health Promotion Association - APPSP Meeting, 
        Oncology conference - Encontros de Primavera, among others.</it>
      </tag></li>
      </p>
    </ul>
  </div>
  
  <div>
    <ul>
      <em> Opinion articles published in National Newspapers</em>
        <li> <em>4 international Posters presented in:</em> 
        <it>2 opinion articles published in online version in Publico Journal entitled</it> 
        ”Olhar mas não ver: uma só Saúde para potenciar recursos” and “Teletrabalho: mais uma questão de Saúde Pública”;
        <it>1 opinion article published in printed version in Diario de Noticias Journal entitled</it> 
        ”Os papel dos médicos e a Inteligência artificial na Saúde”</li>
        </p>
      </ul>
    </div>