<div>
  <p>
    I' ve always been interested and thrilled about research and how can I beable to improve my knowledge.
    My contribution to scientific community is still starting, but some of my works are listed below.< br/>
    You can also always check my <a href="https://orcid.org/0000-0001-7913-7461" target="_blank">ORCID</a>
  </p>
</div>

<div>
  <div>
    
      <p><em>Some of my scientific papers:</em></p>
      <ul>
      <li> <em>International Journal of Environmental Research and Public Health</em>
        <i>Portela D, Almada M, Midão L, Costa E.,</i> <a href="https://doi: 10.3390/ijerph17207387" target="_blank">
        Instrumental Activities of Daily Living (iADL) Limitations in Europe:
        An Assessment of SHARE Data</a>.
      </li>
      
      <li><em>European Journal of Public Health</em>
        <ul>
          <li> <i>D Portela, V Cruz, H Monteiro, F Tavares,</i>
        <a href="https://doi.org/10.1093/eurpub/ckaa166.005" target="_blank">Cervical cancer screening information flow in Northern regional administrative
        service in Portugal</a></li>
         <li><i>G Monteiro, S B Travassos, J M Carvalho, R Marques, D Fernandes, D Portela</i>,
          <a href="https://doi.org/10.1093/eurpub/ckab165.010" target="_blank">
            COVID-19 predictability in Portugal using Google Trends </a></li>
      </ul>
      

      <li><em>The Journal of Frailty & Aging</em>
        <i>Almada, M., Brochado, P., Portela, D. et al., </i>
       <a href="https://doi.org/10.14283/jfa.2020.44" target="_blank">Prevalence of Fall and
        Associated Factors Among Community Dwelling European Older Adults: A Cross-Sectional Study</a> 
      </li>

      <li><em>Acta Médica Portuguesa</em>
        <i>Marta Almada, Luís Midão, Diana Portela, Inês Dias, Francisco J. Núñez-Benjumea, Carlos L. Parra-Calderón, Elísio Costa,</i>
          <a href="https://doi.org/10.20344/amp.12910" target="_blank">“Um novo paradigma em investigação em saúde: dados FAIR (localizáveis, acessíveis, interoperacionais, reutilizáveis)”
        <tag></tag></a>
      </li>
    </ul>
    
    <p><em>Poster presentation in multiple International and Nacional Conferences</em></p>
    <ul style="list-style-type: upper-roman;">
      <li><em>WPHC2020:</em> <i>Portela, V Cruz, H Monteiro, F Tavares</i>, Cervical cancer screening information flow in Northern regional
        administrative service in Portugal;</li>
        <li><em>OSFair2019:</em> 
        <ul style="list-style-type: lower-roman;">
          <li> <i>Marta Almada, Diana Portela, Luis Midao, Sinaci, Núñez-Benjumea, Parra-Calderón and Elisio Costa</i>,
        User scenarios to promote the use of FAIR data on health research;</li>
          <li><i>Marta Almada, Luís Midão, Diana Portela and Elísio Costa</i>,
            The Survey of Health, Ageing and Retirement in Europe:
        experience of a single group using this open access database;</li>
      </ul>
    </li>
        <li><em>ESPCOMP2019:</em> <i>Marta Almada, Diana Portela, Marina Maffoni, Anna Giardini, Przemyslaw Kardas, Luís Midão, Elísio Costa</i>,
        Limitations of basic and instrumental activities of daily living among Polymedicated older adults in Europe: a cross sectional study
      </li>
    </ul>
  

  <p><em>Opinion articles published in National Newspapers</em></p>
    <ul style="list-style-type: upper-roman;">
        <li>
          <it>Publico Journal</it>
          <ul style="list-style-type: lower-roman;">
            <li><a href="https://www.publico.pt/2019/06/21/p3/cronica/olhar-nao-so-saude-necessidade-potenciar-recursos-1876340" target="_blank">
          "Olhar mas não ver: uma só Saúde para potenciar recursos"</a></li> 
            <li> <a href="https://www.publico.pt/2021/03/18/opiniao/noticia/teletrabalho-questao-saude-publica-1955020" target="_blank">
            "Teletrabalho: mais uma questão de Saúde Pública"</a></li>
          </ul>
          </li>
        <li><it>Diario de Noticias Journal</it>
        "Os papel dos médicos e a Inteligência artificial na Saúde"</li>
      </li>
    </ul>
  </div>
</div>