<div>
  <p>
    I've participated in several organizations as a volunteer.
  </p>
  <p>
    The biggest challenge was an <em>Ad management system</em> for Tabaqueira, the biggest Portuguese tobacco company,
    it was a <tag>CakePHP</tag> backend to remote control ads displayed on all-in-one <tag>Android</tag> displays,
    almost every tobacco seller in the country used it.
  </p>
</div>

<div>
  <ul>
    <li><em>HL7 Portuguese association (2020-)</em>Associated member with activities in working groups.</li>
    <li><em>EIT Health Alumni (2019-)</em>Local representative in Porto</li>
    <li><em>Saúde+Pública (2019)</em>National Newsletter of Public Health Residents, Member in Communication Section</li>
    <li><em>Porto4Ageing (2018-)</em>Associated member with activities in working groups.</li>
    <li><em>ANEM Portugal (2015)</em>National summer project of public health. Speeches about the adoption of preventive health measures,
      namely about the transmission of Sexually Transmitted Diseases.</li>
    <li><em>Medical Association: AEICBAS-UP (2011-2012)</em>Active member of Medical association in Physical Health Department.
      The responsibilities related with this position were: - To promote the practice of physical activity in university students;
      <ul>
        <li>To organize, coordinate and supervise activities;</li>
        <li>To initiate and facilitate approved projects for all departments.</li>
      </ul>
    </li>
    <li> <em>VO.U. – University Volunteer Association (2011-2012)</em>Main activities performed:
      - Fundraising campaign and material regarding the needs overseas; - Creation and management of new projects;
      - Office, managing and development work.</li>
    </p>
  </ul>
</div>