<div class="icons color s03">
  <each loop="item in [
    {
      icon: 'mail',
      label: 'E-Mail',
      href: 'mailto:info@dianaportela.pt'
    },
    {
      icon: 'orcid',
      label: 'ORCID',
      href: 'https://orcid.org/0000-0001-7913-7461'
    },
    {
      icon: 'github',
      label: 'Github',
      href: 'https://github.com/dianaportelasilva/'
    },
    {
      icon: 'book',
      label: 'Read CV',
      href: 'https://read.cv/dianaportela'
    },
  ]">
    <a target="_blank" href="{{ item.href }}" rel="noopener">
      <div class="icon color g03 link" role="button" aria-label="{{ item.label }}">
        <svg xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="#icon-{{ item.icon }}"></use>
        </svg>
      </div>
      <span>{{ item.label }}</span>
    </a>
  </each>
</div>


<div class="copy">
  <i>Thank you to my beloved family.</i>
</div>

<div class="copy">
  <span>Huge acknowledgements to promatik</span>
  <span>/</span>
  <span>Made by promatik</span>
  <span>/</span>
  <a href="https://github.com/promatik/promatik.pt" class="color c03" target="_blank" rel="noopener">
    <span>View source</span>
  </a>
</div>