<div class="timeline color s02">
  <h1>Timeline</h1>
  <div class="row">
    <div class="line">
      <div class="blob color b02"></div>
      <div class="dots"></div>
    </div>

    <div class="grid">

      <include src="views/timeline/template.html" locals='{
        "title": "Organisation for Economic Cooperation and Development",
        "slug": "oecd",
        "logo": "oecd",
        "date": ["2022/09", "2022/12"]
      }'></include>

      <include src="views/timeline/template.html" locals='{
        "title": "European Monitoring Center for Drugs and Drugs Addictions",
        "slug": "emcdda",
        "logo": "emcdda",
        "date": ["2022/03", "2022/09"]
      }'></include>

      <include src="views/timeline/template.html" locals='{
        "title": "European Health Forum Gastein",
        "slug": "gastein",
        "logo": "gastein",
        "date": ["2020/10", "2021/11"]
      }'></include>

      <include src="views/timeline/template.html" locals='{
        "title": "PhD and Post-graduation",
        "slug": "fmup",
        "logo": "fmup",
        "date": ["2019/09"]
      }'></include>

      <include src="views/timeline/template.html" locals='{
        "title": "European Innovation and Technology",
        "slug": "eit",
        "logo": "eit",
        "date": ["2019/08"]
      }'></include>

      <include src="views/timeline/template.html" locals='{
        "title": "Northern Regional healthcare Administration",
        "slug": "arsn",
        "logo": "arsn",
        "date": ["2019/01"]
      }'></include>

      <include src="views/timeline/template.html" locals='{
        "title": "Hopecare",
        "slug": "hopecare",
        "logo": "hopecare",
        "date": ["2019/03", "2021/03"]
      }'></include>

      <include src="views/timeline/template.html" locals='{
        "title": "Publications",
        "slug": "scientific-work",
        "logo": "scientific-work",
        "date": ["2019/01"]
      }'></include>

      <include src="views/timeline/template.html" locals='{
        "title": "Faculty of Medicine",
        "slug": "icbas",
        "logo": "icbas",
        "date": ["2010/09", "2017/10"]
      }'></include>

      <include src="views/timeline/template.html" locals='{
        "title": "Volunteer Work",
        "slug": "volunteer",
        "logo": "volunteer",
        "date": ["2010/01"]
      }'></include>
    </div>
  
  <div class="row">
    <div class="column-80 column-offset-10 epoch-born">
      <p>
        I was born <em>616 808 700</em> seconds after UNIX Epoch,
        <br />it's been a great journey of
        <em><span id="elapsed">000 000 000</span></em> seconds since then.
      </p>
    </div>
  </div>
</div>