<div class="stats color s01">
  <h1>A Small Plot Twist</h1>
  <p>
    Since early age I've been passionate about <em>the world</em>, always looking
    for different experiences around the corner.<br />Here you have some cool curious things about me.
    about me. <i>(real time up to date)</i>
  </p>
  <div class="grid">
    <each loop="item in ['airplane', 'map', 'profile', 'water', 'paint', 'car' ]">
      <div data="{{ item }}">
        <div>
          <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon">
            <use xlink:href="#icon-{{ item }}"></use>
          </svg>
          <div class="loading"></div>
          <p style="opacity: 0;">

            <switch expression="item">

              <case n="'profile'">
                When I was younger I used to be a swimmer.   <br /> 
                Since then, sports always played a key role in my life. <br /> 
                I've always been curious to try new sports, ranging from surfing, <br /> 
                playing tenis, dancing and Snowboarding. <br /> 
                Until now, I've danced <em>6</em> different dance styles, <br /> 
                and  won the <em>4th place at European Roxy Snowgirls Championship.</em>
              </case>

              <case n="'airplane'">
                I have travelled in all <em>5</em> continents, visiting <em>15</em>  <br /> 
                different countries,<em>13</em> islands, both hemispheres,  <br /> 
                and backpacking in both <em>North and South America</em> and <em>Australia</em>.
              </case>

              <case n="'map'">
                While living most of my time in Portugal, I've also soon taken up  <br /> 
                the experience to study and work abroad.<br />
                Until now I was living abroad in <em>10</em> different cities 
                from <em>3</em> continents.
              </case>

              <case n="'water'">
                I am an <i>icy dip enthusiast</i>, which means I might say that I go <br /> 
                for a swim at the ocean around <em>300</em> days a year <br /> 
                <i>(out of rainy days, of course!)</i>.
              </case>

              <case n="'car'">
                My passion about nature and the sea <i>ias ancient!</i>
                When I was 15 years old I tryied to raise money from my bricolage
                portfolio to buy a trailer to live in front of the sea!
              </case>

              <case n="'paint'">
                I have a hidden passion about arts. Since early I used to play with <br /> 
                bricolage, ceramics, oils aind other paintings.<br /> 
                <i>I love to loose time and loose myself in a museum!</i> <br /> 
                Later on I started to play with photography which led me to win <br /> 
                <em>1st prize at EIT Health Alumni Summit</em> photography competition in 2019 (in Paris) <br /> 
                and the <em>2nd photo contest at AEICBAS Cultural Week</em> in 2013 (in Porto)
              </case>



            </switch>

          </p>
        </div>
      </div>
    </each>
  </div>
</div>