<div class="story color s01 read">
  <div>
    <h1>ABOUT ME</h1>
    <p>
      I graduated from med school in <em>2017<em> in Porto.
      Throughout my Master ́s Degree in <em>Medicine</em>, I had the opportunity to do
exchange programs thus developing essenFal skills such as team working and adapting to
different people and realities. During this period, I realized how crucial and important
minor details in healthcare can be, and hence the huge impact upon the overall quality of
life of populations worldwide as well as how healthcare changes drastically from country
to country. Undeniably, my backpacking experience in Australia and South America
instilled an incredible and inexplicable passion towards understanding this phenomenon
better. 
</p>
</div>

<div>
<p>
  Dealing with such opposite healthcare realities, I realized how much work there is
and can be done outside hospitals. In fact, global processes affect health from a global to
individual level as well as across time and space, which consequently has changed my
mindset, in other words, <i>the manner in which I intend to “practice health”</i>.
</p>
<p>
During my medical residency in Public Health, I managed an internship in Public Health, an academic year of a <em>PhD in Health Data Science</em>, 
a post-graduation in <em>IT Management</em>, and scientific and informal publications. 
Furthermore, during all this time I was actively involved in the <em>European 
Innovation and Technology Health community</em>, being its local representative in Porto and, recently, 
I was part of the winning team of the <em>European Health Forum Gastein Hackathon 2020</em>. 
</p>
<p>
  For the last year, I´ve worked in IT management at the <em>European Monitoring Center of Drugs and Drugs Addictions (EMCDDA)</em>.
  Here I conducted an ICT self-assessment regarding the management of sensitive information relating to Human Resources using the NIST reference 
  framework and COBIT 2019 for cyersecurity avaliation.
</p>
<p>
  I also worked for the <em>Organisation for Economic Cooperation and Development (OECD)</em> at the Health Division where I was involved
  in several projects and got involved in statistical models for evaluating Best Practices in Public Health.
  </p>
</div>
</div>