<div class="stats color s01">
  <h1>Storytelling across Time and Space</h1>
  <p>
    Since early age I've been passionate about <em>the world</em>, always looking
    for different experiences around the corner.<br />Here you have some curious things about me.
  </p>
  <div class="grid">
    <each loop="item in ['airplane', 'map', 'profile', 'water', 'paint', 'car' ]">
      <div data="{{ item }}">
        <div>
          <svg xmlns:xlink="http://www.w3.org/1999/xlink" class="icon">
            <use xlink:href="#icon-{{ item }}"></use>
          </svg>
          <div></div>
          <p>

            <switch expression="item">
              <case n="'airplane'">
                I have travelled in all <em>5</em> continents, visiting <em>46</em>
                different countries, both hemispheres,
                and backpacking in both <em>N&S America</em> and <em>Australia</em>.
                Such experience enhanced my <u> intercultural communication</u>,<u>contextual Intelligence</u>,
                <u>adaptability</u> and <u>independence</u>.
              </case>

              <case n="'map'">
                While living most of my time in Portugal, I've also soon taken up
                the experience to study and work abroad.
                Until now I was living abroad in <em>10</em> different cities
                from <em>3</em> continents. I speak 3 languages: <u>English</u> (C1),
                <u>French</u> (B2) and <u>Spanish</u> (B1). During this time I definitly
                developed a spirit of <u>self-governance</u>, <u>teamwork</u> and <u>leadership</u>.
              </case>
              
              <case n="'profile'">
                Sports always played a key role in my life<i>I used to be a swimmer</i> and I love <em>hicking</em>!
                Among many others, I've danced <em>6</em> different dance styles,
                and won the <em>4th place at European Roxy Snowgirls Championship.</em>
                This habits that shape you defined my high <u>commitent</u>, <u>responsibility</u>, 
                and <u>punctuality</u>. But the strategic thoughts also enhanced my 
                <u>critical thinking</u>, <u>complex systems thinking</u> and <u>detail-orient</u> mindset.
              </case>

              <case n="'paint'">
                I am a <u>creative person</u>. Back in the days, I used to play with bricolage, ceramics, oils and other paintings.
                Later on, a glimpse of interest in photography led me to win
                <em>1st prize at a Summit Conference</em>.
                <i>Nowadays I code!</i> < br/>
                I developed competences in <em>data visualization</em>
                using <u>PowerBI</u>, <em>statistical analysis and machine learning</em>
                using <u>R</u> and <u>Python</u> and in <em>cloudbased data management</em> tools
                like <u>SharePoint</u>.
              </case>

              <case n="'water'">
                I am an <i>icy dip enthusiast</i>, which means I might say that I go
                for a swim at the ocean around <em>300</em> days a year
                <i>(out of rainy days, of course!)</i>.
              </case>

              <case n="'car'">
                My passion about nature and the sea <i>is ancient!</i>
                When I was 15 years old I tryied to raise money from my bricolage
                portfolio to buy a trailer to live in front of the sea!
              </case>
            </switch>
          </p>
        </div>
      </div>
    </each>
  </div>
</div>